{{!--
Це код container файлу для summary сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/summary"
--}}

<main>

	<div class="card">
		<div class="card-body">
			<h1 class="text-center">Hello world</h1>
			<h2 class="text-uppercase">second title</h2>
			<h3 class="text-end">Third title</h3>
			<h4 class="text-lowercase">Every day i go to work</h4>
			<h4 class="text-capitalize">Every day i go to work</h4>
		</div>
	</div>

	<br>

	<div class="card">
		<div class="card-body">
			<div class="display-4 text-muted">Hello world</div>
			<div class="display-5">Second title</div>
			<div class="display-6">Third title</div>
		</div>
	</div>

	<br>

	<div class="card">
		<div class="card-body">
			<div class="text-muted text-end">
				Додатковий <span class="text-uppercase">текст</span>
			</div>
		</div>
	</div>

	<br>


	<div class="card">
		<div class="card-body">

			<button class="btn btn-success">
				<span class="text-uppercase">Купити</span>
				<h4>Test</h4>
			</button>

			<a href="#" class="btn btn-primary">
				Кнопка-посилання
			</a>

		</div>
	</div>

	<br>

	<div class="card">
		<div class="card-body">
			<p class="text-primary">My text</p>
		</div>
	</div>

	<br>

	<div class="card">
		<div class="card-body">
			<button class="btn btn-secondary btn-lg">Додати</button>
			<button class="btn btn-outline-danger">Видалити</button>
			<button class="btn btn-outline-secondary btn-sm">Редагувати</button>
		</div>
	</div>

	<br>

	<div class="card">
		<div class="card-body">
			This is content
		</div>
	</div>

</main>


{{!--
Цей код містить лише те, що буде виводитись в {{{body}}} в layout/default.hbs
Адже наш layout/default.hbs має вже структуру HTML
--}}