{{!--
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
--}}



<div class="m-3">
	<h1 class="mb-3">Список сторінок</h1>
	<p class="mb-5">В процесі...</p>

	<div class="row">
		<div class="col-4">
			<div class="my-3">
				<a href="/bio" target="_blank" class="btn btn-primary col-10 text-black"><b>Bio</b></a>
			</div>
			<div class="my-3">
				<a href="/car" target="_blank" class="btn btn-primary col-10 text-black"><b>Car</b></a>
			</div>
			<div class="my-3">
				<a href="/education" target="_blank" class="btn btn-primary col-10 text-black"><b>Education</b></a>
			</div>
			<div class="my-3">
				<a href="/facebook" target="_blank" class="btn btn-primary col-10 text-black"><b>Facebook</b></a>
			</div>
			<div class="my-3">
				<a href="/js" target="_blank" class="btn btn-primary col-10 text-black"><b>Js</b></a>
			</div>
			<div class="my-3">
				<a href="/mac" target="_blank" class="btn btn-primary col-10 text-black"><b>Mac</b></a>
			</div>
			<div class="my-3">
				<a href="/person" target="_blank" class="btn btn-primary col-10 text-black"><b>Person</b></a>
			</div>
		</div>

		<div class="col-4">
			<div class="my-3">
				<a href="/program" target="_blank" class="btn btn-primary col-10 text-black"><b>Program</b></a>
			</div>
			<div class="my-3">
				<a href="/shopcart" target="_blank" class="btn btn-primary col-10 text-black"><b>Shopcart</b></a>
			</div>
			<div class="my-3">
				<a href="/shopcatalog" target="_blank" class="btn btn-primary col-10 text-black"><b>Shopcatalog</b></a>
			</div>
			<div class="my-3">
				<a href="/shophome" target="_blank" class="btn btn-primary col-10 text-black"><b>Shophome</b></a>
			</div>
			<div class="my-3">
				<a href="/shoporder" target="_blank" class="btn btn-primary col-10 text-black"><b>Shoporder</b></a>
			</div>
			<div class="my-3">
				<a href="/shopprofile" target="_blank" class="btn btn-primary col-10 text-black"><b>Shopprofile</b></a>
			</div>
			<div class="my-3">
				<a href="/shopreview" target="_blank" class="btn btn-primary col-10 text-black"><b>Shopreview</b></a>
			</div>
		</div>

		<div class="col-4">
			<div class="my-3">
				<a href="/skills" target="_blank" class="btn btn-primary col-10 text-black"><b>Skills</b></a>
			</div>
			<div class="my-3">
				<a href="/summary" target="_blank" class="btn btn-primary col-10 text-black"><b>Summary</b></a>
			</div>
			<div class="my-3">
				<a href="/task21" target="_blank" class="btn btn-primary col-10 text-black"><b>Task21</b></a>
			</div>
			<div class="my-3">
				<a href="/task22" target="_blank" class="btn btn-primary col-10 text-black"><b>Task22</b></a>
			</div>
			<div class="my-3">
				<a href="/task31" target="_blank" class="btn btn-primary col-10 text-black"><b>Task31</b></a>
			</div>
			<div class="my-3">
				<a href="/web" target="_blank" class="btn btn-primary col-10 text-black"><b>Web</b></a>
			</div>
			<div class="my-3">
				<a href="/work" target="_blank" class="btn btn-primary col-10 text-black"><b>Work</b></a>
			</div>
		</div>
	</div>
</div>



{{!--
Цей код містить лише те, що буде виводитись в {{{body}}} в layout/default.hbs
Адже наш layout/default.hbs має вже структуру HTML
--}}